<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Web Scraping**

## Objectives

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [3]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

Import the required libraries

In [24]:
# Your code here
import pandas as pd
import requests
from bs4 import BeautifulSoup
import seaborn as sns

Download the webpage at the url

In [4]:

data = requests.get(url).text

Create a soup object

In [5]:


soup = BeautifulSoup(data, 'html5lib')

Scrape the `Language name`, `Created By` `annual average salary`and `Learning Difficulty`.

In [8]:


E_data = pd.DataFrame(columns=["Language name", "Created By", "annual average salary", "Learning Difficulty"])

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    language = col[1].text
    createdby = col[2].text
    salary = col[3].text
    difficulty = col[4].text
    
    
    # Finally we append the data of each row to the table
    E_data = E_data.append({"Language name":language, "Created By":createdby, "annual average salary":salary, "Learning Difficulty":difficulty}, ignore_index=True)

Create a *dataframe* for scrapped data

In [38]:

E_data

,Language name,Created By,annual average salary,Learning Difficulty
0,Language,Created By,Average Annual Salary,Learning Difficulty
1,Python,Guido van Rossum,"$114,383",Easy
2,Java,James Gosling,"$101,013",Easy
3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,Javascript,Netscape,"$110,981",Easy
5,Swift,Apple,"$130,801",Easy
6,C++,Bjarne Stroustrup,"$113,865",Hard
7,C#,Microsoft,"$88,726",Hard
8,PHP,Rasmus Lerdorf,"$84,727",Easy
9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

Save the scrapped data into a file named *popular-languages.csv*

In [41]:

E_data.to_csv('popular-languages.csv', index=False, header = False)

In [43]:
d = pd.read_csv("popular-languages.csv")
d

,Language,Created By,Average Annual Salary,Learning Difficulty
0,Python,Guido van Rossum,"$114,383",Easy
1,Java,James Gosling,"$101,013",Easy
2,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
3,Javascript,Netscape,"$110,981",Easy
4,Swift,Apple,"$130,801",Easy
5,C++,Bjarne Stroustrup,"$113,865",Hard
6,C#,Microsoft,"$88,726",Hard
7,PHP,Rasmus Lerdorf,"$84,727",Easy
8,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
9,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult