<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [3]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [24]:
# Your code here
import pandas as pd
import requests
from bs4 import BeautifulSoup
import seaborn as sns

Download the webpage at the url

In [4]:
#your code goes here
data = requests.get(url).text

Create a soup object

In [5]:
#your code goes here

soup = BeautifulSoup(data, 'html5lib')

Scrape the `Language name`, `Created By` `annual average salary`and `Learning Difficulty`.

In [8]:
#your code goes here

E_data = pd.DataFrame(columns=["Language name", "Created By", "annual average salary", "Learning Difficulty"])

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    language = col[1].text
    createdby = col[2].text
    salary = col[3].text
    difficulty = col[4].text
    
    
    # Finally we append the data of each row to the table
    E_data = E_data.append({"Language name":language, "Created By":createdby, "annual average salary":salary, "Learning Difficulty":difficulty}, ignore_index=True)

Create a *dataframe* for scrapped data

In [38]:
#your code goes here
E_data

,Language name,Created By,annual average salary,Learning Difficulty
0,Language,Created By,Average Annual Salary,Learning Difficulty
1,Python,Guido van Rossum,"$114,383",Easy
2,Java,James Gosling,"$101,013",Easy
3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,Javascript,Netscape,"$110,981",Easy
5,Swift,Apple,"$130,801",Easy
6,C++,Bjarne Stroustrup,"$113,865",Hard
7,C#,Microsoft,"$88,726",Hard
8,PHP,Rasmus Lerdorf,"$84,727",Easy
9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

Save the scrapped data into a file named *popular-languages.csv*

In [41]:
# your code goes here
E_data.to_csv('popular-languages.csv', index=False, header = False)

In [43]:
d = pd.read_csv("popular-languages.csv")
d

,Language,Created By,Average Annual Salary,Learning Difficulty
0,Python,Guido van Rossum,"$114,383",Easy
1,Java,James Gosling,"$101,013",Easy
2,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
3,Javascript,Netscape,"$110,981",Easy
4,Swift,Apple,"$130,801",Easy
5,C++,Bjarne Stroustrup,"$113,865",Hard
6,C#,Microsoft,"$88,726",Hard
7,PHP,Rasmus Lerdorf,"$84,727",Easy
8,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
9,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ).